.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #ffffff;
    border: 10px solid #0997c5;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Title Styling */
.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0997c5;
}

/* Form and Input Styling */
.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.label1, .label2 {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
}

.input-field {
    width: 100%;;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;

    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #4CAF50;
}

/* Button Styling */
.login-button {
    padding: 10px 15px;
    background-color: #1934497a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0997c5;
}

/* Error Message Styling */
.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}